#web_head {
  font-family: lucida handwriting;
  text-align: center;
  background-color: lightgrey;
  color: black;
  margin: 0;
  padding: 60px;
}

body {
  background-color: rgb(205, 205, 205);
  margin: 0;
}

#first_ul li {
  display: inline;
  padding: 0px 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

#first_ul {
  font-family: lucida handwriting;
  text-align: center;
  background-color: white;
  box-shadow: 0px 2px 2px rgb(182, 182, 182);
  margin: 0;
  padding: 20px 0px;
}

img {
  border-radius: 25%;
  margin: 20px;
  box-shadow: 0px 2px 2px grey;
}

#datadiri, #datapendidikan, #datanegara {
  padding-top: 20px;
  font-family: lucida handwriting;
  text-align: center;
}

#datadiri ul, #datapendidikan ul, #datanegara ul {
  padding-top: 20px;
  font-size: 18px;
  font-family: lucida handwriting;
  padding: 0px;
}

li {
  list-style-type: none;
}